@import '../providers/themeProvider/dark.scss';
@import '../providers/themeProvider/light.scss';
@import './variables/global.scss';
@import './reset.scss';

body {
  position: fixed;
  width: 100%;
  height: 100%;

  font: var(--font-m);

  background-color: var(--bg-color);
  color: var(--primary-color);
}
