@import 'reset.scss';
@import 'variables/global.scss';
@import 'themes/dark.scss';
@import 'themes/light.scss';

#root .app {
  position: fixed;
  width: 100%;
  height: 100%;

  font: var(--font-m);

  background-color: var(--bg-color);
  color: var(--primary-color);
}
